* {
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(194, 227, 255);
}

#container div {
    border: 0.2px solid black;
}